
@(vehiculoForm: Form[dominio.VehiculoDto.Data])(implicit messages: Messages)


<html>
  <head>
    <title>Ingresar vehiculo</title>
  </head>
  <body>
    <h1>Ingresar Vehiculo</h1>
    @helper.form(action = routes.ParkingController.save) {

      @helper.inputText(vehiculoForm("placa"))
      @helper.inputText(vehiculoForm("tipoVehiculo"))
      @helper.inputText(vehiculoForm("cilindraje"))

      <input type="text" name="" id="">
      <select name="enumTipoVehiculo">
        @for(eTipoVehiculo <- util.EnumTipoVehiculo.values){
          <option value="@eTipoVehiculo.id">@eTipoVehiculo.toString</option>
        }
      </select>


      <input type="submit" value="Ingresar Vehiculo">
    }

  </body>
</html>
