
@(vehiculoForm: Form[dominio.VehiculoDto.Data])(implicit messages: Messages)


<html>
  <head>
    <title>Salida vehiculo</title>
  </head>
  <body>
    <h1>Salida Vehiculo</h1>
    @helper.form(action = routes.ParkingController.update) {

      @helper.inputText(vehiculoForm("placa"))
      @helper.select(vehiculoForm("tipoVehiculo"), util.EnumTipoVehiculo.values.toSeq.map(tipoV => tipoV.id+"" -> tipoV.toString))
      @helper.inputText(vehiculoForm("cilindraje"))

      <input type="submit" value="Salida Vehiculo">
    }

  </body>
</html>
