
@(vehiculoForm: Form[dominio.VehiculoDto.Data])(implicit messages: Messages)

@layout("Salida vehiculo") {
  <h1>Salida Vehiculo</h1>
  @helper.form(action = routes.ParkingController.update) {
    @helper.inputText(vehiculoForm("placa"), 'class -> "form-control")
    @helper.select(vehiculoForm("tipoVehiculo"), util.EnumTipoVehiculo.values.toSeq.map(tipoV => tipoV.id+"" -> tipoV.toString), 'class -> "form-control")
    @helper.inputText(vehiculoForm("cilindraje"), 'class -> "form-control")

    <button class="btn btn-success" type="submit">
      <i class="glyphicon glyphicon-plus"></i>
      Salida Vehiculo
    </button>
  }
}

