@(vehiculos: List[modelo.ParqueoVehiculo])

@layout("Vehiculos parqueados") {
  <h1>Vehiculos Parqueados</h1>
  <div>
      <a class="btn btn-success" href="@routes.ParkingController.create">
        <i class="glyphicon glyphicon-plus-sign"></i>
        Ingresar Vehiculo
      </a>
  </div>
  <table class="table">
    <caption>Vehiculos Parqueados</caption>
    <thead class="thead-light">
       <tr>
         <th>Placa</th>
         <th>Tipo Vehiculo</th>
         <th>Fecha ingreso</th>
         <th>Salida Vehiculo</th>
         <th>Delete</th>
       </tr>
     </thead>

    <tbody>
    @for(vehiculo <- vehiculos) {
        <tr >
            <td><a class="btn btn-link" href="@routes.ParkingController.show(vehiculo.placa)">@vehiculo.placa</a></td>
            <td>@vehiculo.tipoVehiculo</td>
            <td>@vehiculo.fechaIngreso</td>
            <td><a class="btn btn-primary" href="@routes.ParkingController.edit(vehiculo.placa)">Salida vehiculo</a></td>
            <td>
                <!--
                <button class="btn btn-danger" onclick="sendDeleteRequest('@routes.ParkingController.destroy(vehiculo.placa)', '@routes.ParkingController.index()')">
                    Delete
                </button>
                -->

                <a class="btn btn-danger" href="@routes.ParkingController.destroy(vehiculo.placa)">
                    Delete
                </a>

            </td>
        </tr>
    }
    </tbody>
  </table>
}
