@(vehiculos: List[modelo.ParqueoVehiculo])

@layout("Vehiculos parqueados") {
  <h1>Vehiculos Parqueados</h1>
  <div><a href="@routes.ParkingController.create">Ingresar Vehiculo</a>  </div>
  <table class="table">
    <caption>Vehiculos Parqueados</caption>
    <thead class="thead-light">
       <tr>
         <th>Placa</th>
         <th>Tipo Vehiculo</th>
         <th>Fecha ingreso</th>
         <th>Salida Vehiculo</th>
         <th>Delete</th>
       </tr>
     </thead>

    <tbody>
    @for(vehiculo <- vehiculos) {
        <tr >
            <td><a href="@routes.ParkingController.show(vehiculo.placa)">@vehiculo.placa</a></td>
            <td>@vehiculo.tipoVehiculo</td>
            <td>@vehiculo.fechaIngreso</td>
            <td><a href="@routes.ParkingController.edit(vehiculo.placa)">Salida vehiculo</a></td>
            <td><a href="@routes.ParkingController.destroy(vehiculo.placa)">Delete</a></td>
        </tr>
    }
    </tbody>
  </table>
}
