@(title: String)(body: play.twirl.api.Html) <!--(implicit flash: play.api.mvc.Flash)-->

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.min.css")">
    <!--<link rel="stylesheet" media="screen" href="routes.Assets.versioned("stylesheets/main.css")">-->
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">


  </head>
  <body>

    <header>
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" date-target="#exnav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="@routes.ParkingController.index" class="navbar-brand">Vehiculos</a>
        </div>
        <div class="collapse navbar-collapse" id="exnav">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a href="@routes.ParkingController.index">
                <i class="glyphicon glyphicon-book"></i>
                Vehiculos Parqueados
              </a>
            </li>
            <li>
              <a href="@routes.ParkingController.create">
                <i class="glyphicon glyphicon-plus"></i>
                Ingresar Vehiculo
              </a>
            </li>
            <!--
            <li>
              <a href="">
                <i class="glyphicon glyphicon-minus"></i>
                   Salida Vehiculo
              </a>
            </li>
            -->
          </ul>
        </div>
      </div>
    </header>

    <div class="container">
      <!--
      for (key <- Array("danger", "info", "success", "warning")) {
        if (flash.containtsKey(key)) {
          <div class="alert alert-key">
          flash.get(key)
          <a href="#" class="close" data-dismiss="alert" aria-label="close">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </div>
        }
      }

      if(flash.get("danger") != null) {
        <div class="alert alert-danger">
          flash.get("danger")
          <a href="#" class="close" data-dismiss="alert" aria-label="close">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </div>
      }
      if(flash.get("success") != null) {
        <div class="alert alert-success">
          flash.get("success")
          <a href="#" class="close" data-dismiss="alert" aria-label="close">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </div>
      }
      if(flash.get("info") != null) {
        <div class="alert alert-info">
          flash.get("info")
          <a href="#" class="close" data-dismiss="alert" aria-label="close">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </div>
      }
      if(flash.get("warning") != null) {
        <div class="alert alert-warning">
          flash.get("warning")
          <a href="#" class="close" data-dismiss="alert" aria-label="close">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </div>
      }
      -->

      @body
    </div>

    <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/parqueadero.js")" type="text/javascript"></script>

  </body>
</html>