@()(implicit assetsFinder: AssetsFinder)

@main("Welcome to Play", assetsFinder) {

    <h2>Welcome Ceiba Parking</h2>
    <div>
        <div><a href="@routes.JsonParqueaderoController.vehiculosparqueados">Vehiculos Parqueados</a></div>
    </div>   
    <div>
        <div><a href="@routes.JsonParqueaderoController.ingresovehiculo">Ingresar Vehiculo</a></div>
    </div>
	<div>
        <div><a href="BLANK" >Salida Vehiculo</a></div>
        <!-- routes.JsonParqueaderoController.salidavehiculo -->
    </div>
}
